
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
@Html.ActionLink("UserManagement", "Index", "User")||

@Html.ActionLink("PackageManagement", "PackageDetails", "Package")||
@Html.ActionLink("CarManagement", "CarDetails", "Car")


